@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* TailwindCSS Utility Classes */

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }



  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

}



/* Cat and Cloud CSS */

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/Wholesale.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3F737F;
}

/* Hide scrollbars but keep functionality */
::-webkit-scrollbar {
  display: none;
}

 nav {
  position: fixed;
  top: 0;
  width: 100%;
  
  backdrop-filter: blur(10px);
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;

}

a {
  font-weight: 500;
  color: #5B5B66;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


